.topmenu {
    list-style-type: none;
    background-color: #777;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.topmenu li {
    float: left;
}

.topmenu li a {
    padding: 16px;
    text-decoration: none;
    color: white;
    display: inline-block;
}